{{fight_data.red_fighter.registration_participant.participant_first_name}} {{fight_data.red_fighter.registration_participant.participant_last_name}}
            <div style="margin-bottom: 180px;">
                    <img src= {{ fight_data.red_fighter.registration_participant.fighter_image }} class="float-left" alt="Fighter image" width="150" height="150">
            </div>
<p></p>
<button data-id= {{fight_data.fight_id}} type="button" class="select_red_fighter_ajax btn btn-primary" id="ajax_red_button">Выбрать</button>



